body {
	background-color: #888888;
	font-family: "Arial", "Verdana";
	color: #000000;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 6px;
	font-weight: bold;
}
td.dark {
	background-color: #36393E;
}
td.dark:hover {
	background-color: #2E3136
}
td.light {
	background-color: #FFFFFF;
}
td.light:hover {
	background-color: #F3F3F3;
}